<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tech Blog</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    
        <header>
            <h1>Let's Blog Tech!</h1>
            <nav >
                <a href="#">Login</a>  &nbsp;
                <a href="#">Logout</a> &nbsp;
                <a href="#">Dashboard</a> &nbsp;
            </nav>
        </header>  
        <main>
            <div>
              {{{ body }}}
            </div>
        </main> 
        <footer>
            Keep on blogging!
        </footer>
    </div>
</body> 