 <div>
     <h2 class="center-text">Welcome</h2>
           <a href="/dashboard/new" class="btn">Create New Blog Post</a>
    </div>
        <div>
        {{#if posts.length}}
        <h2 class='banner'>My Posts</h2>
            <section class="wrapper">
                {{#each posts as |post|}}
                <ol>
                    <li class="comment">
                        {{> post-info post}}
                        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
                    </li>
                    {{/each}}
                </ol>
            </section>
            {{/if}}
</div>