 <div>
    <section class="wrapper">
        <div>
            <h2 class='banner'>Edit Post</h2>
            <div class="logint">
            <form class="login-form">
                <div>
                    <label for="post-title">Post Title</label><br>
                    <input  class="login" type="text" id="post-title" name="post-title" />
                </div>
                <div>
                    <label for="post-url">Post Link</label><br>
                    <input  class="login"type="text" id="post-url" name="post-url" />
                </div>
                <div>
                    <label for="post-comment">Comments</label><br>
                    <textarea >Edit Comments go here</textarea><br>
                </div>
                <button type="button" class="btn">Edit Post</button>
            </form>            
        </div>            
    </section>
</div>