 <div>
    <section class="wrapper">
        <h2 class='banner'>Login</h2>
            <div class="login">
                <form class="login-form">
                    <div>
                        <label for="email-login">Email</label><br>
                        <input  class="login" type="text" id="email-login" name="email" />
                    </div>
                    <div>
                        <label for="password-login">Password</label><br>
                        <input  class="login" type="text" id="password-login" name="password" />
                    </div>
                        <button type="submit" class="btn">Login</button>
                </form>
                <script src="/javascript/login.js"></script>
            </div>
    </section>
</div>
         