<div>
    <section class="wrapper">
        <h2 class='banner'>Add Comments</h2>
        <div>
           
                <h4>Post Comment</h4>
                <textarea >Post Comments go here</textarea><br>
                <button type="button" class="btn">Submit Comment</button>
            </div>  
       
    </section>
    </div>