:root {
    --dark: #293251;
    --light: #ebf1f2;
    --medium: #98c1d9; 
    --primary: #3d5a80;
    --accent: #EE6c4d;


}

*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--primary);
    color: var(--light);
    font-weight: bolder;
    padding: 20px;
    border-bottom: 1px solid var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1,h2,h3,h4,h5 {
    padding: 5px;
}
.banner {
    background-color: var(--accent);
}
a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: bold;
}
a:hover{
    color:var(--accent);
}
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
    background-color: var(--primary);
    color: var(--light);
    padding: .25em;
    /* border: 0.16em solid var(--light); */
    border-radius: 5px;
    margin:5px;

}
.btn:hover {
    margin:5px;
    background-color: var(--accent);
    color: var(--dark);
}

.btn-alert {
    color:var(--accent);
    background-color: var(--ruby);
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: bold;

}

.btn-no-style:hover {
    color:var(--accent);
}
.post-title {
    color: var(--primary);
}
.post-list {
    margin: 10px;
}
.post-info a {
    font-size: 1em;
    padding: 2px;
    margin-bottom: 5px;
}
li {
    border-bottom: .5px solid var(--medium);
}
.comment {
    padding: 1%;
    margin-bottom: 1%;
    color: var(--dark);
    font-size: 1.25em;
}
.comment:nth-child(odd) {
    background-color: var(--light);
}

.comment ol{
    list-style:none;
}
.comment-text {
    font-weight: bold;
    font-size: 1.25em;
}
.comment-by {
    
    font-size: 1em;
}
nav {
    justify-content: space-around;
}

.post {
    padding: 5px;
    margin: 5px;
}

.post-form input{
    min-width: 40%;
    min-height: 30px;
}
.login {
    padding: 5px;
    margin: 5px;
}
.login-form input{
    min-width: 30%;
    margin: 5px;
}
.signup-form input {
    min-width: 30%;
    margin: 5px;
}
li {
    list-style: none;
}
textarea {
    border-radius: 5px;
    border: 1px solid var(--medium);
    min-width: 50%;
    min-height: 100px;
}

footer {
    background-color: var(--medium);
    color: var(--dark);
    font-size: 1em;
    text-align: center;
    padding: 10px;
}